<!-- 
// Title: Currency symbol position, decimal symbol (dot instead of comma like in german) and precision of numbers is individually handled as like in english standards
// Needs another script to function: []
// Project/Task:
// Client/Customer: K-00147
// Last Modified: 27.09.2021
// Version: 1.0.0
// Author: Marius Widmann
// Licence:
// Documentation:
-->

<table width="100%" style="text-align: right">
    <tr>
        <td>
            <b>{{ _('Sums pre Taxes') }}</b>
        </td>
        <td>
           {% set currency = frappe.get_doc("Currency",doc.currency) %}
           {{'%0.2f'| format(doc.net_total|float)   }} {{ currency.symbol }}
        </td>
    </tr>
    <tr>
        {% if doc.taxes %}
            {% for row in doc.taxes %}
                <td>
                    <b>{{ _(row.description) }}</b>
                </td>
                <td>
                    {{'%0.2f'| format(row.tax_amount|float)   }} {{ currency.symbol }}
                </td>
            {% endfor %}
        {% else %}
            <td>
                <b>{{ _('Taxes') }}</b>
            </td>
            <td>
                 {% set zero = 0.00 %}
                 {{'%0.2f'| format(zero|float) }} {{ currency.symbol }}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <b>{{ _('Grand Total') }}</b>
        </td>
        <td>
            {{'%0.2f'| format(doc.grand_total|float)   }} {{ currency.symbol }}
        </td>
    </tr>
</table>
<br><br>