<!--
// Title: Sums and Totals Standard Table
// Needs another script to function: []
// Project/Task: 
// Client/Customer: 
// Last Modified: 27.09.2021
// Version: 0.9.0
// Author: Marius Widmann
// Licence:
// Documentation:
-->

<!-- Table Heading -->
<table class="table table-bordered table-condensed">
<thead>
<tr>
   <th>{{ _('Pos.') }}</th>
   <th>{{ _('Item Code') }}</th>
   <th>{{ _('Description') }}</th>
   <th>{{ _('Quantity') }}</th>
   <th class="price-column">{{ _('Price per UOM') }}</th>
   <th class="price-column">{{ _('Net sum') }}</th>
</tr>
</thead>
<tbody>
<!-- Table Content -->
{%- for row in doc.items -%}

    <tr>
        <td>
            {{ row.idx }}
        </td>
        <td>
        {% set item = frappe.get_doc("Item", row.item_code) %}
            {% if item.variant_of %} 
                {{ item.variant_of }}
            {% else %}
                {{ item.name }}
            {% endif %}
        </td>
        <td>
            <!-- Quotation Item -->
            {{ row.description }}<br><br>

            <!-- Kundenreferenzen -->
            {% set article = frappe.get_doc("Item", row.item_code) %}
            {% for refs in article.customer_items %}
                {% if refs.customer_name == doc.party_name %}
                {{ _('Your Itemcode')}}: {{ refs.ref_code }}<br>
                {{ _('Your Itemname')}}: {{ refs.ref_name }}
                {% else %}
                    {{ _('No') }} {{ _('Customer') }} {{ _('Reference') }}
                {% endif %}
            {% endfor %}<br>

            <!-- Lieferantenreferenz -->
            {% set article = frappe.get_doc("Item", row.item_code) %}
            {% for refs in article.supplier_items %}
                {% if refs.supplier == doc.supplier %}
                    {{ _('Supplier article number') }}: {{ refs.supplier_part_no }}<br>
                    {{ _('Supplier article name') }}: {{ refs.supplier_part_name }}
                {% else %}
                    {{ _('No') }} {{ _('Supplier') }} {{ _('Reference') }}
                {% endif %}
            {% endfor %}<br>
        </td>
        <td>
            <!-- UOM's -->
            <!-- Work with warehouse and inventory uoms -->
            {% if row.weight_per_unit != 0 %}
                {{ row.qty * row.weight_per_unit }} {{ row.weight_uom }}
            <!-- Standard work with selected uom from item position -->
            {% else %}
                {{ row.qty }} {{ row.uom }}
            {% endif %}
        </td>
        <td  class="price-column">
            <!-- Prices -->
            <!-- Work with warehouse and inventory uoms -->
            {% if row.weight_per_unit != 0 %}
                {% set rate_per_weight_uom = row.net_rate / row.weight_per_unit %}
                {{ frappe.format_value(row.net_rate, {'fieldtype': 'Currency', 'options': doc.currency}, doc) }} / {{ row.weight_uom }}
            <!-- Standard work with selected uom from item position -->
            {% else %}
                {{ frappe.format_value(row.net_rate, {'fieldtype': 'Currency', 'options': doc.currency}, doc) }} / {{ row.uom }}
            {% endif %}
        </td>
        <td  class="price-column">
            <!-- Net sum
            {{ frappe.format_value(row.net_amount, {'fieldtype': 'Currency', 'options': doc.currency}, doc) }}
        </td>
    </tr>
{%- endfor -%}
</tbody>
</table>