<!-- Table Heading -->
<table class="table table-bordered table-condensed">
<thead>
<tr>
   <th>{{ _('Item Code') }}</th>
   <th>{{ _('Description') }}</th>
   <th>{{ _('Quantity') }}</th>
   <th>{{ _('Price') }}</th>
   <th>{{ _('Amount') }}</th>
</tr>
</thead>
<tbody>
<!-- Table Content -->
{% set currency = frappe.get_doc("Currency",doc.currency) %}
{%- for row in doc.items -%}
    <tr>
        <td>
            {% set item = frappe.get_doc("Item", row.item_code) %}
            {% if item.variant_of %} 
                {{ item.variant_of }}
            {% else %}
                {{ item.name }}
            {% endif %}
        </td>
        <td>
            {{ row.description }}<br><br>
            {% set article = frappe.get_doc("Item", row.item_code) %}

    	    <!-- Herkunftsland -->
            {{  _('Country of Origin') }}:
            {% if article.country_of_origin %}
                {{ article.country_of_origin }}
            {% else %}
                {{ _('None') }}
            {% endif %}<br>

            <!-- Kundenreferenzen -->
            {% set article = frappe.get_doc("Item", row.item_code) %}
            {% for refs in article.customer_items %}
                {% if refs.customer_name == doc.customer %}
                {{ _('Your Itemcode')}}: {{ refs.ref_code }}<br>
                {{ _('Your Itemname')}}: {{ refs.ref_name }}
                {% else %}
                    
                {% endif %}
            {% endfor %}<br>
            
            <!-- Custom Tariffs -->
            <br>
            {{ _('EU Customs Tariff Number') }}: {{ article.customs_tariff_number }}<br>
            {{ _('CH Customs Tariff Number') }}: {{ article.customs_tariff_number_switzerland }} <br>
            <br>
            <!-- Lieferdatum -->
            {{ _('Delivery Date') }}: {{ frappe.utils.get_datetime(row.delivery_date).strftime('%d.%m.%Y') }}
        </td>
        <td>
            {% if row.weight_per_unit != 0 %}
            {{ row.qty * row.weight_per_unit }} {{ row.weight_uom }}
            {% else %}
            {{ row.qty }}
            {% endif %}
        </td>
        <td  class="price-column">
            {% if row.weight_per_unit != 0 %}
            
            {% set r = row.rate / row.weight_per_unit %}
            <!-- {{ row.get_formatted("r",doc) }} / {{ row.weight_uom }} -->
            {{'%0.2f'| format(r|float)  }} {{ currency.symbol }} / {{ row.weight_uom }}
            
            <!-- {{ row.rate / row.weight_per_unit }} {{ currency.symbol }} / {{ row.weight_uom }}  -->
            {% else %}
            {{'%0.2f'| format(row.rate|float)  }} {{ currency.symbol }} / {{ row.uom }}
            {% endif %}
        </td>
        <td  class="price-column">{{'%0.2f'| format(row.amount|float) }} {{ currency.symbol }}</td>
        <!-- <td  class="price-column">{{ row.get_formatted("amount",doc) }}</td> -->
    </tr>
{%- endfor -%}
</tbody>
</table>